{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
    $(function(){

    });
</script>
{% endblock %}

{% block title %}微博{% endblock %}

{% block content %}
	<div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">

        	<div class="page-header">
		        <h1>微博</h1>
		        <p>本地时间：{{ moment(current_time).format('YYYY年MM月DD日') }}</p>
                {% if current_user.is_authenticated %}
		            <!--{{ wtf.quick_form(form) }}-->
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.content(id='content', class='form-control', row="10", placeholder='请输入140字以内内容', required='required', autocomplete='off') }}
                        <br>
                        {{ form.submit(class='btn btn-primary') }}
                    </form>
                {% endif %}
	        </div>

            <ul class="nav nav-tabs">
                {% if current_user.is_authenticated %}
                <li role="presentation" class="active"><a href="#followeds" data-toggle="tab">我的</a></li>
                <li role="presentation"><a href="#articles" data-toggle="tab">全部动态</a></li>
                {% else %}
                <li role="presentation" class="active"><a href="#articles" data-toggle="tab">全部动态</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if current_user.is_authenticated %}
                <div class="tab-pane fade" id="articles">
                    {% for article in articles %}
                    <div class="list-group">
                        <div class="list-group-item">
                            <p><a href="/{{ article.user.username }}"><b>{{ article.user.username }}：</b></a>
                                
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ article.content }}</p>
                            <p class="text-right" style="color: gray">{{ moment(article.timestamp).format('HH:mm:ss YYYY/MM/DD') }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="tab-pane fade in active" id="followeds">
                    {% for article in articles %}
                    <div class="list-group">
                        {% if current_user.is_following(article.user) or current_user == article.user %}
                        <div class="list-group-item">
                            <p><a href="/{{ article.user.username }}"><b>{{ article.user.username }}：</b></a>
                            
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ article.content }}</p>
                            <p class="text-right" style="color: gray">{{ moment(article.timestamp).format('HH:mm:ss YYYY/MM/DD') }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="tab-pane fade in active" id="articles">
                    {% for article in articles %}
                    <div class="list-group">
                        <div class="list-group-item">
                            <p><a href="/{{ article.user.username }}"><b>{{ article.user.username }}：</b></a>
                                
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ article.content }}</p>
                            <p class="text-right" style="color: gray">{{ moment(article.timestamp).format('HH:mm:ss YYYY/MM/DD') }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>  
        <div class="col-md-2">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">   
            <a class="back-to-top" href="#top" style="position: fixed; right: 250px; bottom: 20px;">
              返回顶部
            </a>
          </nav>
        </div>  
	</div>
{% endblock %}