{% extends "base.html" %}

{% block title %}微博{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

	{% block page_content %}
	<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<div>
		<h1>{{ user.username }}
		{% if current_user.is_authenticated %}
            {% if current_user != user %}
                {% if current_user.is_following(user) %}
                    <a href="/unfollow/{{ user.username }}"><button type="button" class="btn btn-primary">取关</button></a>
                {% else %}
                    <a href="/follow/{{ user.username }}"><button type="button" class="btn btn-primary">关注</button></a>
                {% endif %}
            {% endif %}
        {% else %}
            <a href="/follow/{{ user.username }}"><button type="button" class="btn btn-primary">关注</button></a>
        {% endif %}
		</h1>
		<div>
			粉丝：<span class="badge">{{ user.followers.count() }}</span>
			关注：<span class="badge">{{ user.followeds.count() }}</span>
			微博：<span class="badge">{{ total }}</span>
			<div>
				<br>
			</div>
		</div>
		<ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#articles" data-toggle="tab">微博</a></li>
            <li role="presentation"><a href="#followers" data-toggle="tab">粉丝</a></li>
            <li role="presentation"><a href="#followeds" data-toggle="tab">关注</a></li>
        </ul>
        <div class="tab-content">
        	<div class="tab-pane fade in active" id="articles">
				{% for article in articles %}
				<div class="list-group">
				    <div class="list-group-item">
				        <p>{{ article.user.username }}：</p>
			            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ article.content }}</p>
			            <p class="text-right" style="color: gray">{{ moment(article.timestamp).format('HH:mm:ss YYYY/MM/DD') }}</p>
				    </div>
				</div>
				{% endfor %}
        	</div>
        	<div class="tab-pane fade" id="followers">
				{% for follower in user.followers %}
				<div class="list-group">
				    <div class="list-group-item">
				        <p><a href="/{{ follower.follower.username }}">{{ follower.follower.username }}</a>
				        {% if current_user.is_authenticated %}
				            {% if current_user != follower.follower %}
				                {% if current_user.is_following(follower.follower) %}
				                    <a href="/unfollow/{{ follower.follower.username }}" style="float: right;"><button type="button" class="btn btn-primary">取关</button></a>
				                {% else %}
				                    <a href="/follow/{{ follower.follower.username }}" style="float: right;"><button type="button" class="btn btn-primary">关注</button></a>
				                {% endif %}
				            {% endif %}
				        {% else %}
				            <a href="/follow/{{ follower.follower.username }}" style="float: right;"><button type="button" class="btn btn-primary">关注</button></a>
				        {% endif %}
				        </p>
				    </div>
				</div>
				{% endfor %}        		
        	</div>
        	<div class="tab-pane fade" id="followeds">
				{% for followed in user.followeds %}
				<div class="list-group">
				    <div class="list-group-item">
				        <p><a href="/{{ followed.followed.username }}">{{ followed.followed.username }}</a>
				        {% if current_user.is_authenticated %}
				            {% if current_user != followed.followed %}
				                {% if current_user.is_following(followed.followed) %}
				                    <a href="/unfollow/{{ followed.followed.username }}" style="float: right;"><button type="button" class="btn btn-primary">取关</button></a>
				                {% else %}
				                    <a href="/follow/{{ followed.followed.username }}" style="float: right;"><button type="button" class="btn btn-primary">关注</button></a>
				                {% endif %}
				            {% endif %}
				        {% else %}
				            <a href="/follow/{{ followed.followed.username }}" style="float: right;"><button type="button" class="btn btn-primary">关注</button></a>
				        {% endif %}
				        </p>
				    </div>
				</div>
				{% endfor %}
        	</div>
        </div>
	</div>
	</div>
    <div class="col-md-2">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">   
        <a class="back-to-top" href="#top" style="position: fixed; right: 250px; bottom: 20px;">
          返回顶部
        </a>
      </nav>
    </div>  
	</div>
	{% endblock %}

<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>